<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Rescue Network</title>
</head>
<body>
    <h1>The Rescue Network</h1>
    <ul class="rescues">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="rescue">
            <span><%= info[i].primaryName %></span>
            <span><%= info[i].primaryBreed %></span>
            <span class='del'>delete</span>
        </li>
    <% } %>
    </ul>

    <h2>Add A Rescue:</h2>

    <form action="/addRescue" method="POST">
        <input type="text" placeholder="Name" name="primaryName">
        <input type="text" placeholder="Breed" name="primaryBreed">
        <input type="submit">
    </form>

    <script src="js/main.js"></script>
</body>

</html>